@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  // COLORS
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body,
#__next,
main {
  height: 100%;
}

main {
  position: relative;
  background-color: var(--pale-blue);
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
